@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* hero section style starts */
.hero-section-container{
    width: 1920px;
    height: 652px;
    margin: 0 auto;
    margin-top: 131px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
}
.hero-content{
    width: 1100px;
    height: 582px;
    margin: 0 auto;
    text-align: center;
}
.hero-content img{
    width: 240.28px;
    height: 240px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.hero-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 43px;
    font-weight: 800;
    height: 136px;
    width: 1100px;
    line-height: 68px;
    margin-bottom: 24px;
}
.hero-content p{
    color: rgba(13, 19, 33, 0.822);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 34px;
}
.hero-content button{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* web development section styles starts here */
.web-dev-section-container{
    width: 946px;
    height: 1233px;
    
    margin: 0 auto;
    margin-top: 154px;
}
.web-dev-top-section{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
.web-dev-top-section h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}
.web-dev-top-section p{
    color: rgba(13, 19, 33, 0.705);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;

}
.web-dev-first-content{
    display: flex;
    gap: 150px;
    margin-top: 96px;
    text-align: left;
    margin-bottom: 120px;
   
}
.first-content-text{
    margin-left: 40px;
    


}
.first-content-text h2{
    width: 450px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    
}
.first-content-text p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    width: 450px;
    height: 52px;
    
}
.first-content-text button{
    padding: 11px 18px 11px 18px;
    margin-top: 44px;
    
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.first-content-text button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.first-content-img{
    margin-right: 5px;
}

.web-div-mid-section{
    width: 850px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    
    
}
.mid-section-img{
    width: 223.2px;
    height: 208.85px;
    margin-right: 50px;
}
.mid-section-text h2{
    width: 477px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.mid-section-text p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    width: 450px;
    height: 52px;
    margin-bottom: 15px;
}
.mid-section-text button{
    padding: 11px 18px 11px 18px;
    margin-top: 44px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.mid-section-text{
    margin-top: 10px;
    text-align: left;
    margin-right: 150px;
    
}
.mid-section-text button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.last-section-container{
    width: 850px;
    height: 240px;
    
    margin: 0 auto;
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
}
.last-section-text h2{
    width: 477px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}
.last-section-text p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    width: 450px;
    height: 52px;
    margin-bottom: 15px;
}
.last-section-text button{
    padding: 11px 18px 11px 18px;
    
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}
.last-section-text button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
/* inspiration section starts */

.inspiration-sec-container{
    width: 1140px;
    height: 775px;
    
    margin: 0 auto;
    text-align: center;
    margin-top: 170px;
    
}
.inspiration-sec-container h1{
    color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 32px;
   font-weight: 800;
   margin-bottom: 24px;
}
.inspiration-sec-container p{
    color: rgba(13, 19, 33, 0.719);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
}
.vid-container{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
   
}
.inspiration-text{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* current target styles starts here */

.current-target-container{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 149px;
}
.current-target-heading{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}  
.current-target-heading h1{
    color: rgba(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}  
.current-target-heading p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.current-target-icons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.html{
    width: 284px;
    height: 220px;
    padding-left: 40px;
    border-radius: 16px;
    background: rgba(255, 75, 30, 0.05);
}
.css{
    width: 284px;
    height: 220px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.java{
    width: 300px;
    height: 200px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.html h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
}
.css h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
} 
.java h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
    
}  
.html p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}  
.css p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
} 
.java p{
    color: rgba(13, 19, 33, 0.699);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
}
.java a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}
.html a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}                
.css a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}   
.html img{
    margin-bottom: 40px;
} 
.css img{
    margin-bottom: 40px;
}     
.java img{
    margin-bottom: 40px;
}  
/* support section styles start here */

.support-sec-container{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top:80px;
    margin-bottom: 80px;
    border-radius: 16px;
    border-radius: 16px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.support-sec-content{
    width: 1044px;
    height: 186px;
    
    margin: 0 auto;
   padding-top: 70px;

}
.support-sec-title{
    text-align: center;
    
}
.support-sec-title h2{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    
}
.support-sec-title p{
    color: rgba(255, 255, 255, 0.699);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.support-sec-input{
    width: 750px;
    height: 58px;
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    
}
.support-sec-input input{
    width: 548px;
    height: 57px;
    padding-left: 20px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
#submit-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
}
/* footer section style starts here */
.footer-sec-container{
    width: 1140px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.footer-sec-text{
    width: 456px;
    height: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    margin-top: 8px;
    
}
.footer-sec-text h2{
    margin-top: 6.5px;
}
.footer-sec-icons{
    width: 157.01px;
    height: 36px;
    display: flex;
    justify-content: space-between
}

   








